.body {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #0b3b54;
}

.header_logo {
    transition-duration: .5s;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #C9A920;
    text-decoration: none;
    margin: 24px 24px;
}
.header_logo:hover {
    transition-duration: .5s;
    color: rgb(255, 232, 128)
}

.header_nav-list {
    display: inline-block;
}

.header_nav-item {
    display: inline;
    margin: 12px;
}

.header_nav-link {
    transition-duration: .5s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #C9A920;
    text-decoration: none;
}
.header_nav-link:hover {
    transition-duration: .5s;
    color: rgb(255, 232, 128)
}

.content {
    flex-grow: 1;
    width: 100%;
    background-color: #f5f5f5
}

.content_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 24px;
}

.content_materials {
    display: flex;
}

.content_image {
    width: 100%;
    height: 100%;
    min-width: 331px;
    min-height: 263px;
    padding: 0px 24px;
    margin-bottom: 48px;
}

.content_text {
    margin-right: 24px;
    text-align: justify;
    margin-bottom: 12px;
}

.content_form {
    float: right;
    border: 1px solid black;
    padding: 12px;
    margin-left: 12px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.form_subscribe {
    padding: 12px 0px;
}

.form_input {
    display: block;
}

.form_btn {
    display: block;
    margin: 12px 0px;
}
